.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  .header-inner {
    position: relative;
    top: 0;
    margin: 0rem 1.7rem;
    padding: 1.7rem 0;
    border-bottom: 1px solid $black;

    .links {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      overflow: hidden;
      .left-link {
        display: flex;
        align-items: center;

        h2 {
          position: absolute;
          transform: translateY(35px);
        }
      }
    }
  }
}
